node_modules
public
dist
.env.local
.env
.out
.in/fabrics
.in/showrooms
.in/fabrics/**
.in/showrooms/**
.in/blogs
.in/blogs/**
.in/blogs2
.in/blogs2/**
.in/blogs-backup/**
.in/blogs-backup
.in/hometours
.in/hometours/**
.in/trends
.in/trends/**
.in/tips
.in/tips/**
